.grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: [right-menu] 200px [body] auto;
    grid-template-rows: 25% auto 3%;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    margin: 25px auto;
    width: 1400px;
    height: 600px;
   }
   /*Some simple styling*/
   .grid-area {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e5e7f0;
    color: black;
    padding: 50px 50px;
    text-align: left;
    
   }
   
   .grid-area-1 { grid-area: header; }
   .grid-area-2 { grid-area: sidebar; }
   .grid-area-3 { grid-area: main; }
   .grid-area-4 { grid-area: footer; }
   
